body{
    overflow: hidden;
}

#home{
    background-color: #5DADE2;
}

.home{
    position: absolute;
    left: 20%;
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
}

canvas{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    display: block;    
    z-index: 1;

}

.home img{
    border-radius: 50%;
    width: 15%;
    height: auto;
    z-index: 2;
    margin-top: 15%;


}

.home h1{
    color: white;
    font-family: 'Revalia', cursive;
    opacity: 1;
    z-index: 2;
}

.home h2{
    color: #5DADE2;
    font-family: 'Revalia', cursive;
    opacity: 1;
    z-index: 2;
}

#github{
    position: absolute;
    width: 3%;
    height: 3%;
    z-index: 3;
    left: 5%;
    top: -5vh;
    transition: top 1s;

}

#github img{
    width: 100%;
    height: auto;
}

#twitter{
    position: absolute;
    width: 3%;
    height: 3%;
    z-index: 3;
    left: 10%;
    top: -5vh;
    transition: top 1.5s;

}

#twitter img{
    width: 100%;
    height: auto;
}


#linkedin{
    position: absolute;
    width: 3%;
    height: 3%;
    z-index: 3;
    left: 15%;
    top: -5vh;
    transition: top 2s;

}

#linkedin img{
    width: 100%;
    height: auto;
}

#fullstack{
    z-index: 5;
    color: white;
    font-family: 'Revalia', cursive;
    margin-right: -120%;
    margin-top: 10%;
    transition: margin-right 2s;
}


#java{
    position: absolute;
    z-index: 5;
    color: white;
    font-family: 'Revalia', cursive;
    bottom: -10vh;
    transition: bottom 1s;
}

#nodejs{
    z-index: 5;
    color: white;
    font-family: 'Revalia', cursive;
    margin-left: -120%;
    margin-top: -5%;
    transition: margin-left 2s;

    /* transition: margin-left 1.5s; */
}